*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "goodTimes";
    src: url('good\ times\ rg.ttf');
}
@font-face {
    font-family: "teen";
    src: url('teen.ttf');
}
.swal2-popup {
    font-family: "teen";
}
.header{
    width: 100%;
    height: 60px;
    background: rgb(50, 50, 50);
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: "teen";
}
body{
    background: linear-gradient(120deg, lightskyblue,lightcyan,lightskyblue);
}
#logo{
    font-size: 30px;
    font-family: "goodTimes";
    float: left;
}
#judul{
    width: 200px;
    position: absolute;
    right: 120px;
    top: 2px;
    font-size: 45px;
    font-weight: 600;
}
.header ul li{
    display: inline-block;
    padding-left: 20px;
    padding-top: 17px;
}
.header ul li:hover{
    color: lightskyblue;
}
.checkout{
    width: 85%;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    border: 3px solid gray;
    border-radius: 20px;
    font-family: "teen";
    font-size: 20px;
    position: relative;
    background: white;
}
.barang{
    width: 93%;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    overflow: auto;
}
#last{
    position: absolute;
    bottom: 10px;
    border-top: 3px solid black;
}
.last2{
    display: inline-block;
    position: absolute;
}
#tombol{
    font-size: 23px;
    width: 180px;
    height: 50px;
    right: 45px;
    bottom: 12px;
    border-radius: 5px;
}
#harga{
    left: 45px;
    bottom: 15px;
    font-size: 30px;
}
#back{
    font-family: "teen";
    color: gray;
    border: 0px;
    font-size: 20px;
    font-weight: 600;
    background: rgb(50, 50, 50);
}
#back:hover{
    color: white;
}