@font-face {
    font-family: 'goodTimes';
    src: url('../assets/fonts/good_times_rg.ttf');
}

@font-face {
    font-family: 'teen';
    src: url('../assets/fonts/teen.ttf');
}

* {
    box-sizing: border-box;
    padding : 0;
    margin : 0;
    font-family: 'teen';
}

body{
    background: linear-gradient(120deg, lightskyblue,lightcyan,lightskyblue);
}

.header {
    height: 180px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .menu {
    padding-top: 20px;
    height: 80px;
}

.header .menu h1 {
    margin-left: 38%;
    color: black;
    float: left;
    font-family: 'goodTimes';
}

.header .menu button {
    float: right;
    margin-right: 50px;
}

button {
    padding: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.header img{
    height: 20px;
    width: 20px;
}

.navbar {
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-left: 20px;
    /* background: #000; */
    /* color: white; */
    color: black;
}

.navbar ul li {
    display: inline-block;
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

a:visited{
    color: white;
}

nav ul li:hover {
    border-bottom: 1px solid gray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}    

.dropdown:hover .dropdown-content {
    display: block;
}

.search-box {
    margin-left: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    /* background: white; */

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
}

.search-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    /* background: white; */

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.search-box button img{
    height: 20px;
    width: 20px;
}

.footer {
    border-top: 1px solid rgb(182, 182, 250);
}

.footer .subscribe {
    text-align: center;
    height: 200px;
    padding-top: 80px;
    float: none;
}

.subscribe input {
    width: 400px;
    height: 50px;
}

.subscribe button {
    margin-top: 10px;
    color: white;
    background: #000;
    width: 200px;
    height: 50px;
    border: none;
}

.about  {
    margin: 50px;
    height: 150px;
}

.about .logo{
    width: 200px;
    height: 150px;
    float: left;
    padding: 20px;
    border-right: 1px solid rgb(182, 182, 250);
}

.about .logo h1{
    font-family: 'goodTimes';
}

.help {
    margin-left: 50px;
    padding-top: 20px;
    width: 200px;
    height: 150px;
    float: left;
}

.help a{
    color: black;
}

.contact {
    float: left;
    margin-left: 50px;
    padding-top: 20px;
}

.contact img {
    width: 20px;
    height: 20px;
    margin: 2px;
    margin-right: 10px;
}

/* main */

.display{
    font-size: 25px;
    font-family: "teen";
    width: 85%;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    border: 3px solid gray;
    border-radius: 5px;
    margin-bottom: 40px;
    background: white;
}
#btnBack{
    font-family: "goodTimes";
    color: gray;
    border: 0px;
    font-size: 25px;
    background: rgb(50, 50, 50);
    top: 5px;
    right: 100px;
    height: 50px;
    width: 10%;
    position: absolute;
}
#btnBack:hover{
    color: white;
}
#btn{
    font-family: "teen";
    color: white;
    border: 0px;
    line-height: 1.2;
    font-size: 18px;
    background: rgb(50, 50, 50);
    height: 60px;
    width: 50%;
    margin-left: 120px;
}
#btn:hover{
    color: rgb(50, 50, 50);
    background: white;
    border: 2px solid black;
}
#gambarr{
    width:60%;
    height:100%;
    display: inline-block;
    /* background:  rgb(200, 250, 250); */
    border-right: 3px solid gray;
}
#gambar{
    width: 60%;
    height: 80%;
    margin: 50px 120px;
}
#status{
    width:37%;
    height:93%;
    display: inline-block;
    padding: 20px;
}

.popular {
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 40px;
}

.popular h2{
    border-bottom: 1px solid rgb(182, 182, 250);
    margin-bottom: 20px;
}

.scroll {
    overflow: auto;
    white-space: nowrap;
    height: 380px;
}

.scroll::-webkit-scrollbar {
    width: 5px;
}
  
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(79, 87, 107); 
    border-radius: 10px;
}
   
.scroll::-webkit-scrollbar-thumb {
    background: rgb(21, 31, 58); 
    border-radius: 10px;
}

.piece img {
    height: 300px;
    width: 300px;
    /* margin-right: 20px; */
}

.piece {
    /* border: 1px solid black; */
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 30px;
    /* background: white; */
    width: 320px;
    height: 350px;
    box-sizing: border-box;
}

.piece h4 {
    padding-left: 10px;
    color: black;
    font-weight: bolder;
    width: -moz-fit-content;
    width: fit-content;
}

.piece p {
    text-align: right;
    padding-left: 10px;
    color: rgb(31, 31, 130);
    font-weight: bolder;
    padding-right: 20px;
}

.img-hover-zoom {
    margin-bottom: 10px;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.img-hover-zoom img {
    transition: transform .5s ease;
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
}

.piece h4{
    padding-left: 10px;
    color: black;
    font-weight: bolder;
}

.piece p{
    text-align: right;
    padding-left: 10px;
    color: rgb(31, 31, 130);
    font-weight: bolder;
}

.piece img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.piece:hover h4{
    font-weight: bolder;
}

.piece:hover p{
    text-decoration: underline;
    font-weight: bolder;
}