@font-face {
    font-family: 'goodTimes';
    src: url(../assets/fonts/good_times_rg.ttf);
}

@font-face {
    font-family: 'teen';
    src: url(../assets/fonts/teen.ttf);
}

* {
    box-sizing: border-box;
    padding : 0;
    margin : 0;
    font-family: 'teen';
}

.cb{
    clear: both;
}

.header {
    height: 180px;
    background: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .menu {
    padding-top: 20px;
    height: 80px;
}

.header .menu h1 {
    margin-left: 38%;
    color: black;
    float: left;
    font-family: 'goodTimes';
}

.header .menu button {
    float: right;
    margin-right: 50px;
}

.header button {
    padding: 10px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.header img{
    height: 20px;
    width: 20px;
}

.navbar {
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-left: 20px;
    /* border: 1px solid black; */
    color: black;
}

.navbar ul li {
    display: inline-block;
    padding: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

nav ul li:hover {
    border-bottom: 1px solid gray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}    

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    margin-left: 430px;
    width: 520px;
    margin-bottom: 100px;
}

.main button {
    border: none;
    width: 250px;
    padding: 10px;
    margin-bottom: 50px;
    background: white;
}

form input{
    width: 500px;
    height: 50px;
    border: none;
    margin-top: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

form .check {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 20px;
}

form #register {
    margin-top: 40px;
    width: 500px;
    background: black;
    color: white;
}

form select {
    width: 500px;
    height: 50px;
    border: none;
    /* border-bottom: 1px solid black; */
}

.footer {
    border-top: 1px solid rgb(182, 182, 250);
}

.footer .subscribe {
    text-align: center;
    height: 200px;
    padding-top: 80px;
    float: none;
}

.subscribe input {
    width: 400px;
    height: 50px;
}

.subscribe button {
    margin-top: 10px;
    color: white;
    background: #000;
    width: 200px;
    height: 50px;
    border: none;
}

.about  {
    margin: 50px;
    height: 150px;
}

.about .logo{
    width: 200px;
    height: 150px;
    float: left;
    padding: 20px;
    border-right: 1px solid rgb(182, 182, 250);
}

.about .logo h1{
    font-family: 'goodTimes';
}

.help {
    margin-left: 50px;
    padding-top: 20px;
    width: 200px;
    height: 150px;
    float: left;
}

.help a{
    color: black;
}

.contact {
    float: left;
    margin-left: 50px;
    padding-top: 20px;
}

.contact img {
    width: 20px;
    height: 20px;
    margin: 2px;
    margin-right: 10px;
}