/* begin : : body*/
body {
    background-color: rgb(253, 253, 253);
    margin: 0;
}

/* begin : : header*/
.header{
    background-color: orange;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px 50px;
}

.header img {
    width: 110px;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0px 50px;
}

.header li {
    display: inline;
}

.navbar {
    text-align: center;
}

.navbar a {
    color: rgb(51, 51, 51);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    padding: 0px 5px;
}

.logout-socmed {
    display: grid;
    grid-template-columns: auto auto;
}

.logout-socmed h1{
    margin: 0;
    font-size: 16pt;
    color: rgb(51, 51, 51);
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

.social-media img{
    width: 30px;
    margin: 0px 5px;
    float: right;
}
/* end: : header*/
/* begin : : address*/
.address {
    background-color: rgb(51, 51, 51);
    padding: 20px 50px;
}

.address h1{
    color: rgb(253, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    font-size: 14pt;
}
/* end : :address*/

/* begin : : main*/
.main {
    display: grid;
    grid-template-columns: 85% 15%;
    padding: 20px 50px;
}

.greet p{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
}

.menu h1{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 16pt;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li{
    margin: 5px 0px;
}

.menu a{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.table{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
}

.table input{
    background-color: orange;
    color: rgb(253, 253, 253);
    border: none;
}

table {
    width: 50%;
}

th{
    padding: 5px;
    background-color: orange;
    color: rgb(253, 253, 253);
}

td{
    padding: 5px;
    text-align: center;
    background-color: darkgrey;
    color: rgb(51, 51, 51);
}
/* end : : main*/
/* end : : body*/